h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
}

h2 {
  font-size: 24.88px;
  font-weight: 500;
  line-height: 100%;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
